html {
  margin: 0;
  padding: 0;
}

body {
  padding: 0 30px;
  background:#E2E9EB;
}

body > div {
  max-width: 800px;
}

button:active, button:focus {
  outline: none;
}

h1 {
  font-weight: lighter;
  font-size: 48px;
  color: rgba(0, 0, 0, 0.5);
}

h3 {
  margin-top: 0;
  padding: 5px 15px;
  border:1px solid transparent;
  font-size: 28px;
  color:#999;
  width:calc(100% - 65px);
  border-radius: 5px;
}

h3:hover, h3:focus {
  border-color:#CCC;
  background: white;
}

h3 input {
  background: transparent;
  border: none;
  font-size: 28px;
  font-weight: bold;
  width:calc(100% - 30px);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.rule-list > li {
  padding: 15px;
  margin: 0;
  margin-bottom: 15px;
  background: white;
  border-radius: 5px;
  box-shadow:0 3px 15px -10px #000;
}

.header-list > li {
  padding: 10px 0;
  margin: 0;
}

.header-list > li + li {
  border-top: 1px solid #EEE;
}

.header-rule {
  position: relative;
}

.header-rule input {
  padding: 5px;
  margin:0 15px;
  width:200px;
}

.header-rule button {
  padding: 8px 15px;
  background: #E9E9E9;
  border-radius: 5px;
  border:none;
  margin-left: 15px;
  cursor: pointer;
}

.header-rule button.active {
  background: #EB9B9B;
  color: #850000;
}

.header-rule input:first-of-type {
  margin-left: 40px;
}

.rule-list + button, .header-list + button {
  display: block;
  margin: 0;
  width: 100%;
  border: none;
  font-size:16px;
  border-radius: 5px;
  cursor: pointer;
  transition:background 0.3s ease-in-out;
}

.rule-list + button {
  padding: 20px;
  background: #34A28B;
  color:white;
}

.rule-list + button:hover, .rule-list + button:focus {
  background: #2ECDAB;
}

.header-list + button {
  font-size:14px;
  padding: 10px;
  background: #EBE9E2;
  color: #80734B;
  margin-top: 40px;
}

.header-list + button:hover, .header-list + button:focus {
  background: #E8D7AA;
}

button.trash {
  font-size: 24px;
  font-weight: lighter;
  background:none;
  border: none;
  height: 30px;
  width: 30px;
  padding:0;
  margin:0;
  color: #CCC;
}

button.trash:hover, button.trash:focus {
  color:#000;
}

.rule {
  position: relative;
}

.rule > .trash {
  position: absolute;
  top: -5px;
  right: -5px;
}

.header-rule > .trash {
  position: absolute;
  top: -3px;
}